---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { Icon } from "astro-icon/components";

const PUBLIC_REPO_URL = process.env.PUBLIC_REPO_URL;
const PUBLIC_REPO_BRANCH = process.env.PUBLIC_REPO_BRANCH;

type Props = {
  sourceInstanceName: string;
  relativePath: string;
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { sourceInstanceName, relativePath } = Astro.props;
let type = "";
switch (sourceInstanceName) {
  case "fiches":
    type = t("la fiche");
    break;
  case "lexique":
    type = t("la fiche du lexique");
    break;

  default:
    type = t("le persona");
    break;
}
---

<div class="box mb-8 mt-20 flex flex-col items-center gap-4 p-8 shadow-lg">
  <div class="text-center text-lg font-extrabold">
    {
      t(
        "Vous avez repérez une coquille ou vous souhaitez contribuer à rendre WordPress plus éco-responsable ?",
      )
    }
  </div>
  <p class="m-0 font-semibold">
    {t("Venez sur le repo pour lancer une discussion sur")}
    {type}.
  </p>
  <a
    href={`${PUBLIC_REPO_URL}/blob/${PUBLIC_REPO_BRANCH}/${sourceInstanceName}/${relativePath}`}
    target={`_blank`}
    rel="nofollow noopener noreferrer"
    class={`btn btn-outline hover:px-5 p-3 flex gap-2 items-center`}
  >
    Voir {type}
    <Icon name="tabler:brand-github-filled" width={16} height={16} />
  </a>
</div>
