---
import {
  capitalizeFirstLetter,
  getLangFromUrl,
  useTranslations,
} from "@i18n/utils";

const {
  frontmatter,
  meta,
  fontSize = "normal",
  displayTitle = false,
} = Astro.props;
const values = frontmatter[meta];
const toDisplay = values;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

{
  Array.isArray(values) ? (
    <li
      class:list={[
        "mb-2 mt-0",
        {
          "text-xs": fontSize === "xs",
          "text-sm": fontSize === "sm",
        },
      ]}
    >
      {displayTitle === true && (
        <strong>{capitalizeFirstLetter(t(meta))} : </strong>
      )}
      <ul class="mb-0">
        {toDisplay.map((item, index) => {
          return (
            <li
              class="my-2 max-h-5 whitespace-nowrap p-0 leading-4"
              data-pagefind-filter="tags[data-content]"
              data-content={`${capitalizeFirstLetter(meta.replace("_", " "))} → ${t(item)}`}
            >
              → {t(item)}
            </li>
          );
        })}
      </ul>
    </li>
  ) : (
    <li
      class:list={[
        "mb-2 mt-0 max-h-5 whitespace-nowrap last:mb-0",
        {
          "text-xs": fontSize === "xs",
          "text-sm": fontSize === "sm",
        },
      ]}
    >
      {displayTitle === true && (
        <strong class="capitalize">
          {/*
            data-pagefind-filter="tags[data-content]"
            data-content={`${capitalizeFirstLetter(meta.replace("_", " "))} → ${t(toDisplay)}`}
           */}
          {t(meta)} :{" "}
        </strong>
      )}
      {t(toDisplay) || "TBD"}
    </li>
  )
}
