---
import { Icon } from "astro-icon/components";

const { icon, label, url, target } = Astro.props;
const targetAttr =
  target === "_blank" ? { rel: "nofollow noopener noreferrer" } : {};
---

<div class="mb-16 mt-12 text-center">
  <a
    href={url}
    title={label}
    target={target}
    {...targetAttr}
    rel="nofollow noopener noreferrer"
    class="btn btn-outline inline-flex items-center gap-2 !no-underline"
  >
    <span>{label}</span>
    {
      icon && (
        <span>
          <Icon name={icon} width={24} height={24} />{" "}
        </span>
      )
    }
  </a>
</div>
