---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { capitalizeFirstLetter } from "@js/utils";
import type { CollectionEntry } from "astro:content";
import { getRefConfig } from "../../../referentiel-config";

type Props = {
  entries: CollectionEntry<"fiches">[];
};

const { entries } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<table>
  <thead>
    <tr>
      <th>REF ID</th>
      {getRefConfig().featuresEnabled.scope && <th>{t("scope")}</th>}
      <th>{t("lifecycle")}</th>
      <th>{t("Bonnes pratiques")}</th>
      <th>{t("Principe de validation")}</th>
    </tr>
  </thead>
  <>
    {
      entries.map((entry) => {
        const [, ...entry_slug] = entry.slug.split("/");
        return (
          <>
            {entry.data.validations?.map((validation, index) => {
              return (
                <tr>
                  <td>
                    <a href={`fiches/${entry_slug}.html`} class="text-sm no-underline">
                      🔗{" "}
                      <span class="underline">
                        {process.env.PUBLIC_REF_NAME} {entry.data.refID}{" "}
                      </span>
                    </a>
                  </td>
                  {getRefConfig().featuresEnabled.scope && (
                    <th>{capitalizeFirstLetter(t(entry.data.scope as any))}</th>
                  )}
                  <td>
                    {capitalizeFirstLetter(t(entry.data.lifecycle as any))}
                  </td>
                  <td>
                    {entry.data.title}{" "}
                    {entry.data.validations &&
                      entry.data.validations.length > 1 &&
                      `(${index + 1})`}
                  </td>
                  <td>
                    {t("Le nombre")}{" "}
                    <strong class="!text-primary">{validation.rule} </strong>
                    {t("est inférieur ou égal à")}{" "}
                    <strong class="!text-primary">{validation.maxValue}</strong>
                  </td>
                </tr>
              );
            })}
          </>
        );
      })
    }
  </>
</table>
